:root{
    --txtcolor: rgba(242, 242, 242, 1);
    --blue: rgba(4, 0, 209, 1);
    --bcground:  rgba(51, 51, 51, 1);
    --frame: rgba(79, 79, 79, 1);
    --btbcg: rgba(242, 242, 242, 1);
    --linear1: rgba(224, 224, 224, 1);
    --linear2: rgba(242, 242, 242, 1);



}
body{
    font-family: 'Roboto', sans-serif;
}
.content{
    height: 500px;
    width: 240px;
    margin: auto;
    background-image: url(ipad.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--bcground);
    background-position-y: -8px;
    z-index: -2;
}
aside{
    position: relative;
    width: 28px;
    height: 112px;
    left: 0px;
    top: -108px;
    background: #232323;
    border-radius: 4px 0px 0px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 0px;
    margin-left: auto;
}
    
.greentick{
    position: relative;
    width: 48px;
    height: 48px;
    left: 0px;
    top: 12px;
    background-color: #32A000;
    
}
.greentick2{
    position: relative;
    width: 48px;
    height: 48px;
    left: 24px;
    top: -36px;
    background-color: #32A000;
    border-radius: 100%
}
.number{
    position: relative;
    top: -115px;
    left: 15px;
    color: var(--txtcolor);
    font-size: 12px;
    margin-bottom: 10px;
}
.date{
    position: relative;
    display: inline;
    top: -175px;
    right: -130px;
    color: var(--txtcolor);
    font-size: 12px;
}
.save{
    position: relative;
    top: -30px;
    left: 200px;
}
h2{
    position: relative;
    top: -180px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    padding-left: 11px;
    color: #F2F2F2;
    border-left: 9px solid blue;
    text-align: left;
    width: 80%;
}
.text2{
    width: 200px;
    position: relative;
    top: -180px;
    left: 8.33%;
    right: 8.33%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 126%;
    width: 80%;    
    color: #C7C7C7;
}
button{
    display: block;
    text-align: center;
    margin: auto;
    color: var(--blue);
    width: 261px;
    height: 32px;
    border-radius: 8px;
    background: linear-gradient(var(--linear1), var(--linear2));
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    width: 120px;
    position: relative;
    top: -185px;
    left: -48px;
    cursor: pointer;
}
.hashtag{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    position: relative;
    top: -190px;
    left: 8.33%;
}
    
.ratings{
    position: relative;
    top: -185px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 179px;
    height: 24px;
    padding-top: 15px;
    left: 18px;        
}
        
.rating p{
    position: relative;
    display: inline;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    color: #828282;
    top: -4px;    
}
.rating{
    align-items: center;       
}
.face{
    position: relative;
    left: 15px;
    top: -100px;
    background-blend-mode: normal;
    border: 2px solid #333333;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.tick{
    position: relative;
    top: -652px;
    left: 35px;
    z-index: 1000;
}