:root{
    --txtcolor: rgba(242, 242, 242, 1);
    --blue: rgba(4, 0, 209, 1);
    --bckground:  #232323;
    --border: rgba(79, 79, 79, 1);
    --btbcg: rgba(242, 242, 242, 1);
    --linear1: rgba(224, 224, 224, 1);
    --linear2: rgba(242, 242, 242, 1);
    --bluebckground: rgba(54, 101, 205, 1);
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.desc{
    height: 54px;
    width: 612px;
    margin: auto;
    border-radius: 4px;
    background-color: var(--bckground);
    margin-bottom: 10px;
    display: flex;

}
.desc p{
    margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: var(--txtcolor);
}
.base{
    width: 612px;
    height: 1368px;
    margin: auto;
    background-color: var(--bckground);
}
.main-text{
    color: var(--txtcolor);
    width: 556px;
    height: 147px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    margin: auto;
    position: relative;
    top: 24px;
    background-color: var(--border);

}
.rating{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--txtcolor);
    width: 556px;
    margin: auto;
    text-align: right;
    margin-top: 30px;
}
.small-pic{
    position: relative;
    top: -36px;
}
.pics{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 576px;
    margin-top: 24px;
    
}
.big-pic a{
    position: relative;
    top: -320px;
    color: white;
    left: 537px;
    width: 32px;
    height: 32px;
    background-color: #0400D1;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    display: flex;
    cursor: pointer;
}
.small-pic a{
    position: relative;
    top: -184px;
    color: white;
    left: 150px;
    width: 32px;
    height: 32px;
    background-color: #0400D1;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    display: flex;
    cursor: pointer;
}

.big{
    height: 324px;
    width: 575px;
}
.small{
    height: 189px;
    width: 188px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 11px;
}
.icons1{
    width: 575px;
    height: 72px;
    margin: auto;
    border: 1px dashed var(--border);
    border-radius: 8px;
    display: flex;
    justify-content: center;position: relative;
    top: -66px;
}
.icons{
    width: 253.8px;
    display: flex;
    justify-content: space-between;
    
}
.icon{
    padding-top: 26px;
    padding-bottom: 26px;
    
}
hr{
    margin-top: 26px;
    margin-bottom: 20px;
    width: 575px;
    color: var(--keret);
    position: relative;
    top: -76px;
}
.text{
    outline: none;
    position: relative;
    
}
.bikeep{
    width: 575px;
    margin: auto;
    display: flex;
    position: relative;
    top: -76px;
}
.bikeep img{
    width: 131px;
    height: 52px;
    position: relative;
    
}
.bike{
    width: 444px;
    background-color: var(--border);
    height: 52px;
    
}
.bike a{
    text-decoration: none;
    color: var(--txtcolor);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 4px;
    
}
.bike p{
    color: var(--txtcolor);   
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    margin-left: 4px;
    margin-top: 4px;
}
.sr{
    margin-top: 59px;
    color: #BDBDBD;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;     
    position: relative; 
    top: -76px;
}
.boxes{
    width: 512px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 0px;
    height: fit-content;
    position: relative; 
    top: -76px;
}
.box{
    width: 160px;
    height: 148px;
    background-color: var(--bluebckground);
    Font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--txtcolor);
    padding: 0px;
    margin: 0px;

}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative; 
    top: -76px;
}


button{
    display: block;
    text-align: center;
    width: 261px;
    height: 32px;
    border-radius: 8px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    width: 120px;
    
}
.next{
    width: 102px;
    height: 40px;
    background-color: #0400D1;
    color: var(--txtcolor);
    cursor: pointer;
}

.previous{
    width: 136px;
    height: 40px;
    background-color: #333333;
    color: var(--txtcolor);
    cursor: pointer;
}



.searchbar{
    width: 564px;
    display: flex;
    margin: auto;
    height: 32px;
    justify-content: space-around;
    align-items: center;
    padding-top: 33px;
    position: relative;
    top: -76px;
}
.http{
    width: 50px;
    height: 32px;
    background-color: var(--border);
    padding: 0px;
    margin: 0px;
    display: flex;
}

.text{
    width: 514px;
    height: 32px;
    padding: 0px;
    margin: 0px;
}
.http p{
    margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--txtcolor);
}
.plus{
    margin-top: 14.17px;
    text-align: center;
    margin-bottom: 28.17px;
    position: relative; 
    top: -76px;
}
.bikeep .x{
    position: relative;
    top: -67px;
    color: white;
    left: 405px;
    width: 32px;
    height: 32px;
    background-color: #0400D1;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    display: flex;
    cursor: pointer;
}