:root{
    --txtcolor: rgba(242, 242, 242, 1);
    --blue: rgba(4, 0, 209, 1);
    --bckground:  rgba(51, 51, 51, 1);
    --border: rgba(79, 79, 79, 1);
    --btbcg: rgba(242, 242, 242, 1);
    --linear1: rgba(224, 224, 224, 1);
    --linear2: rgba(242, 242, 242, 1);
}
*{
    box-sizing: border-box;
}
h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--txtcolor);
    margin-bottom: 0;
}
h2{
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: var(--txtcolor);
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
}
.signin, .signup{
    display: inline-block;
    width: 133px;
    height: 36px;
    margin: -2px;
    border: 1px solid black;
    display: flex;
}
.signin{
    background: linear-gradient(var(--linear1), var(--linear2));
    border-radius: 4px 0px 0px 4px;
    color: var(--blue);
    border: 1px solid var(--txtcolor);
    font-size: 14px;
}
.signup{
    border-radius: 0px 4px 4px 0px;
    color: var(--txtcolor);
    border: 1px solid var(--txtcolor);
    font-size: 14px;

}
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}
.signin p, .signup p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin: auto;
    
}
label{
    font-size: 12px;
    font-weight: 400;

}
.toggle {
    position : relative ;
    display : inline-block;
    width : 33px;
    height : 20px;
    background-color: grey;
    border-radius: 30px;
    
}
.checkbox {
    display : none;
}
.toggle:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    
}
div{
    display: block;
    text-align: center;
    
}
form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: var(--txtcolor);
    width: 304px;
    
}
.text{
    margin-bottom: 20px;
}
.textbox{
    margin-bottom: 0;
}
.psw{
    margin-top: 10px;
    position: relative;
    left: 10px;
    font-size: 16px;
    font-weight: 400;

}
button{
    display: block;
    text-align: center;
    margin: auto;
    color: var(--blue);
    width: 261px;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(var(--linear1), var(--linear2));
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}
.orwith{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--txtcolor);
}
hr{
    width: 114px;
    height: 1px;
    
}
.icons{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}
.icon{
    display: block;
    width: 32px;
    height: 32px;
    background-color: var(--keret);
    align-items: center;
}
svg{
    margin-top: 5px;
}
body{
    height: 532px;
    width: 353px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    
}
input{
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-radius: 4px;
    background: #333333;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    color: white;
}
::placeholder{
    color: var(--txtcolor);
}
.content{
    height: 532px;
    width: 353px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--bckground);
}
.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 20px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .remme{
    position: relative;
    top: -30px;
    left: 80px;
    color: var(--txtcolor);
    font-size: 13px;
  }